<!doctype html>
<html lang="en">

<head>
    <title>goshortly</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <br><br>
    <div class="container">
        <div class="mt-2 mb-4 bg-secondary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">goshortly</h1>
                <p class="col-md-8 fs-4">An dead simple & fast URL Shortner</p>
                <p class="col-md-8 fs-4">All shortend URLs will be available for 30days</p>
                <hr>
                <form method="post" action="#">
                    <fieldset>
                        <div class="container">
                            <input type="text" class="form-control" id="surl" name="surl" placeholder="https://google.de" required>   
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>
</html>